.wrapper {
  text-align: center;
  color: white;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.textblock {
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;

}

/* .vidblock {
  padding-bottom: 20px;
  padding-top: 10px;
} */

.vidblock {
     position: relative;
     padding-bottom: 65.25%;
     padding-top: 30px;
     height: 0;
     overflow: auto;
     -webkit-overflow-scrolling:touch;
     border: solid black 1px;
}
.vidblock iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

.changeAd {
  margin-top: 50px;
}
