.grid-container {
  display: grid;
  grid-template-columns: repeat(50, 25px);
  grid-template-rows: repeat(40, 25px);
  background-color: #2196F3;
/*  opacity: 0.5;*/
  cursor: crosshair;
  box-sizing: border-box;
  margin-top: 20px;

  width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container-unsupported {
  display: grid;

  background-color: #d3eafd;
/*  opacity: 0.5;*/
  box-sizing: border-box;
  margin-top: 20px;
  padding: 100px 100px 100px 100px;
  text-align: center;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;

}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  text-align: center;
}

.selected {
  background-color: #98FB98;
}

.taken {
  border: none;
}

a.imageContainer span.title{
  z-index: 10;
  display: none;
  border-radius:4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

a.imageContainer:hover span.title{
  display: inline;
  position: absolute;
  border: 1px solid #8c8c8c;
  background: #f4f4f4;
}

a.imageContainer > span.title{
  /* width: 300px; */
  padding: 10px 12px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  font-size: 12px;
  font-style: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 4px #d9b3c3;
  -moz-box-shadow: 4px 4px 4px #d9b3c3;
  box-shadow: 4px 4px 4px #d9b3c3;
}

a.imageContainer:hover > span.title{
  opacity: 1;
  text-decoration:none;
  visibility: visible;
  display: inline;
  word-break: break-word;
  white-space: normal;
  min-width: 150px;
  /* margin-top: 40px; */
  /* margin-left: -200px; */
  /* margin-right: 200px; */
}

a.imageContainer span.title b{
  width: 15px;
  height: 15px;
  margin-left: 20px;
  margin-top: -19px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-shadow: inset -1px 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff; -o-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  display: none; *display: none;
  background: #f4f4f4;
  border-top: 1px solid #8c8c8c;
  border-right: 1px solid #8c8c8c;
}

a.imageContainer > span.title{
  color: #000000;
  background: #f4f4f4;
  background: -moz-linear-gradient(top, #FBF5E6 0%, #FFFFFF 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBF5E6), color-stop(100%,#FFFFFF));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBF5E6', endColorstr='#FFFFFF',GradientType=0 );
  border: 1px solid #8c8c8c;
}
