div.transition{
    text-decoration: none;
    text-shadow: none;
    -webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
    outline: 0 none;
    font-size:2em;

}

div.transition:hover {
    color: #fff;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

a.networkLink {
	color: grey;
}

strong {
  color: white;
}

.total {
  width: 1250px;
  margin: 0 auto;
  overflow: hidden;
}

.mid {
  float: left;
  width: 500px;
}

.left, .right {
	text-align: center;
	color: white;
	border-top: 2px solid #65cdf1;
	border-bottom: 2px solid #65cdf1;
	margin-bottom: 10px;
	margin-top: 40px;
	margin: auto;
	padding-top: 10px;
}

.left {
	margin-right: 20px;
  float: left;
  width: 230px;
}

.right {
	margin-left: 20px;
  float: left;
  width: 230px;
  margin-right: 125px;
}

.infobutton {
  float: left;
  width: 125px;
  margin-top: 52px;
}

.withdrawButton {
  margin-left: 10px;
}
