.main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.table {
  background: #d3d3d3;
  word-wrap: break-word;
  margin-bottom: 0;
}

.react-bootstrap-table-pagination {
  background: white;
  margin: 0;
}

#pageDropDown {
  margin-top: 20px;
}

.wrap {
  margin-top: 20px;
}

.saleItem {
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 20px;
}

#dropdown-size-med {
  margin: 0;
}

div.dropdown.btn-group {
  margin: 0;
}

.titles {
  text-align: center;
}

.titlesItem {
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

.lab {
  color: white;
  width: 100px;
}

.inputPrice {
  margin: 0px 10px 0px 10px;

}

.manageTotal {
  display: flex;
}

.manageChild {
  width: 50%;
  /* border-right: 1px solid white; */
  /* #65cdf1 */
}

.manageChild2 {
  width: 50%;
  /* border-left: 1px solid white; */
}

.dropdown {
  width: auto;
}

.marketOverview {
  color: white;
}
