/* Styles */
body {
  overflow-y:overlay;
  /* font-family: Helvetica, Arial, sans-serif; */
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  font-family: 'Roboto', Helvetica, sans-serif;

  font-size: 15px;

  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;

  background-color: #171826;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

footer {
  width: 100%;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  font-family: 'Hind', Helvetica, sans-serif;
  font-weight: bold;
}

p {
  color: #d3d3d3;
  font-size: 16px;
}
